* {
    box-sizing: border-box;
}

.body {
        background-image: url("assets/images/cloudy-day.png"); 
    }

#current {
    color: blue;
}

#red {
    color: red;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

.footer {
    color: #ffffff;
    background: #666666;
    width: 100%;
    bottom: 0;
    padding: 30px 0;
    font-size: 12px;
    text-align: center;
}
